/* body{
    text-align: center;
} */

/* Todos los header */
header{ 
    background-color: blueviolet;
    padding: 10px;
}

/* Todos los nav */
nav{
    background-color: chocolate;
    padding: 5px;
}

/* Todos los section */
section{
    background-color: darkgreen;
    padding: 10px;
}

/* Todos los article */
article{
    background-color: darkturquoise;
    padding: 10px;
    margin: 10px;
}

/* los header, div y footer que estén dentro de un section */
section header{
    background-color: orange;
}
section div{
    background-color: red;
    padding: 10px;
}
section footer{
    background-color: orangered;
}

/* Todos los footer */
footer{
    background-color: brown;
    padding: 10px;
}

/* Todos los aside */
aside{
    background-color: fuchsia;
    padding: 10px;
}