/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
*{
    padding: 0px;
    margin: 0px;
}
.header{
    background-color: purple;
    color: white;
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
}
.contenedor{
    background-color: #bbbbbb;
    padding: 1vw;
    height: 100vh;
}
.footer{
    background-color: #1e1e1e;
    color: white;
    padding: 1vw;
}
.col-1{
    width: 8.33%;
    background-color: salmon;
    margin: 0.1vw;
}
.col-2{
    width: 16.66%;
    background-color: salmon;
}