*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

/* .col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;} */

/* Header styles */
.header{
    background-color: rgb(110, 27, 98);
    color: white;
    text-align: center;
    padding: 12px;
    height: 60px;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
}
    .logo{
        /* background-color: tomato; */
        height: 100%;
        width: auto;
        padding-right: 20px;
    }

    .social{
        /* background-color: violet; */
        /* flex: 1 1 auto; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 5px;
    }
        .socialitem{
            color: white;
            text-decoration: none;
            /* font-size: 60%; */
            font-size: 170%;
            flex: 1 1 auto;
            padding: 5px;
        }
    .nav{
        /* background-color: orange; */
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .navitem{
            /* background-color: cadetblue; */
            flex: 1 1 auto;
            max-width: 100px;
            text-decoration: none;
            color: white;
            padding: 13px 0px;
            display: flex;
            flex-direction: column;
        }
        .actual{
            background-color: white;
            color: purple;
            border-radius: 5px;
            /* flex: 1 1 auto; */
        }

/* Contenedor principal styles */
.contenedor{  
    background-color: tomato;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .main{
        width: 100%;
        height: 350px;
        background-image: url("imgs/verano.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }
    .textosmain{
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        font-size: 120%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .textomain{
        color: white;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    h1 span{
        padding-left: 0.3rem;
        padding-bottom: 1rem;
    }

/* Footer styles */
.footer{
    background-color: #3f3f3f;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
.footercont{
    /* padding: 1vw; */
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template:
    "gc   sep1    muni  sep2    contacto sep3    mapa" 200px /
     1fr  auto    1fr   auto    1fr      auto    1fr;
    padding: 12px 20px;
    gap: 20px;
    justify-content: center;
} 
    .footersep{
        width: 2px;
        border: none;
        background-color: #646464;
        height: 80%;
    }
    .sep1{
        grid-area: sep1;
        place-self: center;
    }
    .sep2{
        grid-area: sep2;
        place-self: center;
    }
    .sep3{
        grid-area: sep3;
        place-self: center;
    }
    .logogc{
        grid-area: gc;
        place-self: center;
        height: 100%;
        /* width: 100%; */
        width: 184px;

        background-image: url("logos/logo_gc.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        /* background-color: aqua; */

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .infomuni{
        grid-area: muni;
        place-self: center;
        font-size: 90%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        text-align: left;
    }
    .contacto{
        grid-area: contacto;
        place-self: center;
        font-size: 88%;
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        text-align: center;
        padding-bottom: 18px;
    }
    .mapa{
        grid-area: mapa;
        place-self: center;
        font-size: 90%;

        display: flex;
        flex-direction: column;
        gap: 10px;
    }

@media only screen and (max-width: 900px) {
.contenedor {
    background-color: blue;
}
.header{
    height: 110px;
    /* padding: 12px 12px 0px 12px; */
    padding: 0px;
    padding-top: 12px;
    gap: 0px;
}  
    .logo{
        /* background-color: tomato; */
        flex: 1 1 auto;
        height: 60px;
        display: flex;
        padding: 0px 12px;
    }
    .social{
        /* background-color: violet; */
        /* flex: 1 1 auto; */
        /* width: 30%; */
        height: 50%;
        display: flex;
        justify-content: right;
        padding: 0px 12px;
    }
    .nav{
        /* background-color: orange; */
        width: 100%;
        order: 2;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        padding: 0px;
    }
        .navitem{
            /* background-color: cadetblue; */
            flex: 1 1 auto;
            max-width: 130px;
            text-decoration: none;
            color: white;
            padding: 8px;
            border-radius: 0px;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .actual{
            background-color: white;
            color: purple;
            border-radius: 5px;
            margin: 0px 10px;
            /* flex: 1 1 auto; */
        }
        a p{
            padding-left: 8px;
        }
    .main{
        height: 250px;
        /* background-position: center top; */
    }
.footercont{
    grid-template:
    "gc        sep1    contacto" 100px
    "muni      sep1    mapa" 150px /
     1fr       auto    1fr;
}
}

@media only screen and (max-width: 600px) {
.contenedor {
    background-color: red;
}
.header{
    height: 120px;
    /* padding: 12px 12px 0px 12px; */
    padding: 0px;
    padding-top: 12px;
    gap: 0px;
}
    .logo{
        /* background-color: tomato; */
        flex: 1 1 auto;
        height: 60px;
        display: flex;
        padding: 0px;
        padding-left: 12px;
    }
    .social{
        /* background-color: violet; */
        /* flex: 1 1 auto; */
        /* width: 30%; */
        height: 50%;
        display: flex;
        justify-content: right;
        padding: 0px;
        padding-right: 12px;
    }
    .nav{
        /* background-color: orange; */
        width: 100%;
        order: 2;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        padding: 0px;
    }
        .navitem{
            /* background-color: cadetblue; */
            flex: 1 1 auto;
            /* max-width: 130px; */
            text-decoration: none;
            color: white;
            padding: 6px 4px;
            font-size: 90%;
            border-radius: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .actual{
            background-color: white;
            color: purple;
            border-radius: 5px;
            margin: 0px 5px;
            /* flex: 1 1 auto; */
        }
    .main{
        height: 400px;
    }
    .textosmain{
        width: 100%;
        /* padding: 0px 20px; */
    }
    .textomain{
        width: 90%;
        text-align: center;
        /* background-position: center top; */
    }
    .footercont{
        grid-template:
        "contacto" 100px
        "sep1" 2px
        "muni" 100px
        "sep2" 2px
        "mapa" 200px
        "sep3" 2px
        "gc" 100px /
         1fr;
    }
    .footersep{
        width: 70%;
        /* border: none; */
        /* background-color: #646464; */
    }
}